# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Build
build/
publish/

# Logs
*.log

# Rider
.idea/

# NuGet
*.nupkg


# OS
.DS_Store
Thumbs.db
/EduBank/repomix-output.xml
